name: Mirroring

on: [push, delete]

jobs:
  codeberg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Mirror to Codeberg
        run: |
          git push --prune --force "https://Y-Akamirky:${{ secrets.CODEBERG_TOKEN }}@codeberg.org/Y-Akamirky/ygg-lazy-cli" +refs/heads/*:refs/heads/* +refs/tags/*:refs/tags/*
