[Desktop Entry]
Type=Application
Name=YggLazy-cli
Comment=Lazy Yggdrasil Network configurator
Exec=pkexec /usr/local/bin/ygglazy
Icon=/usr/local/share/icons/ygglazycli.svg
Terminal=true
Categories=Utility;Network;
